header {
  text-align: center;
  padding: 2rem 0;
  background-color: #eaeaea;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  color: #333;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #eaeaea;
  color: #333;
}
