<div class="container">
  <div style="display: flex;"><img src="assets/logo.svg" alt="Logo FJ" width="100" style="margin-right: 50px;" />
    <h1>Francisco Javier Martín Mendez</h1>
  </div>
  <p>
    Esta es mi forma de presentar trabajos que he ido haciendo a lo largo de mi vida y de los que estoy orgulloso. Es
    una recopilaci'on
  </p>

  <p>
    A continuación, puedes explorar una galería con obras ya finalizadas, junto con su ubicación real para que puedas
    visitarlas si lo deseas.
  </p>

  <button>Ver proyectos</button>
</div>
<div class="container">
  <h1>Calidad en Ladrillo Visto</h1>
  <p>
    Bienvenido. Esta página es una muestra del trabajo profesional y artesanal realizado por <strong>Antonio
      Martín</strong>.
    Con décadas de experiencia en la construcción tradicional y especialización en ladrillo visto, cada proyecto refleja
    detalle, durabilidad y estética.
  </p>

  <p>
    A continuación, puedes explorar una galería con obras ya finalizadas, junto con su ubicación real para que puedas
    visitarlas si lo deseas.
  </p>

  <button>Ver proyectos</button>
</div>
